<!-- ********** DATATABLE ********** -->

<table id="video-games-table" class="display">
  <thead>
    <tr>
      <th>Title</th>
      <th>Console</th>
      <th>Category</th>
      <th>Comments</th>
      <th>Loaned out?</th>
      <th>Already played?</th>
      <th>Digital?</th>
      <th>Owned?</th>
    </tr>
  </thead>
  <tbody>
    <% @vgs.each do |v| %>
      <tr>    
        <td> <%= "#{v.title}" %> </td>
        <td> <%= "#{v.console}" %> </td>
        <td> <%= "#{v.category}" %> </td>
        <td> <%= "#{v.comment}" %> </td>
        <!-- on_loan if/else -->
        <td> <% if v.on_loan == true %> <img class="check" src="/assets/green-check.png"/>
          <% else %> <img class="check" src="/assets/red-check.png"/>
          <% end %> 
        </td>
        <!-- played if/else -->  
        <td> <% if v.played == true %> <img class="check" src="/assets/green-check.png"/>
          <% else %> <img class="check" src="/assets/red-check.png"/>
          <% end %> 
        </td>
        <!-- is_digital if/else -->
        <td> <% if v.is_digital == true %> <img class="check" src="/assets/green-check.png"/>
          <% else %> <img class="check" src="/assets/red-check.png"/>
          <% end %> 
        </td>
        <!-- is_owned if/else -->
        <td> <% if v.is_owned == true %> <img class="check" src="/assets/green-check.png"/>
          <% else %> <img class="check gift" src="/assets/gift.png"/>
          <% end %> 
        </td>
      </tr>
    <% end %> 
  </tbody>
</table>

<!-- ********** RAILS FORM ********** -->

<%= form_tag("/video_games", method: "post") do %>
  <%= label_tag('video_game[title]', "Title:") %>
  <%= text_field_tag('video_game[title]') %> <br>

  <%= label_tag('video_game[console]', "What console is this game for?") %>
  <%= text_field_tag('video_game[console]') %> <br>

  <%= label_tag('video_game[category]', "Category:") %>
  <%= text_field_tag('video_game[category]') %> <br>

  <%= label_tag('video_game[comment]', "Comment:") %>
  <%= text_field_tag('video_game[comment]') %> <br>

  Is this video game currently on loan?
  <%= radio_button_tag('video_game[on_loan]', true) %>
  <%= label_tag(:on_loan_true, "Yes") %>
  <%= radio_button_tag('video_game[on_loan]', false, true) %>
  <%= label_tag(:on_loan_false, "No") %> <br>

  Have I played this video game already?
  <%= radio_button_tag('video_game[played]', true) %>
  <%= label_tag(:played_true, "Yes") %>
  <%= radio_button_tag('video_game[played]', false, true) %>
  <%= label_tag(:played_false, "No") %> <br>

  Is this video game a digital copy?
  <%= radio_button_tag('video_game[is_digital]', true) %>
  <%= label_tag(:is_digital_true, "Yes") %>
  <%= radio_button_tag('video_game[is_digital]', false, true) %>
  <%= label_tag(:is_digital_false, "No") %> <br>

  Do I already own a copy of this video game?
  <%= radio_button_tag('video_game[is_owned]', true) %>
  <%= label_tag(:is_owned_true, "Yes") %>
  <%= radio_button_tag('video_game[is_owned]', false, true) %>
  <%= label_tag(:is_owned_false, "No") %> <br>

  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

  <%= submit_tag("Submit") %>
<% end %>

<!-- ********** initialize DataTable ************ -->

<script>
  $(document).ready( function () {
    $('#video-games-table').DataTable();
  });
</script>

