<!-- ********** DATATABLE ********** -->

<table id="cds-table" class="display">
  <thead>
    <tr>
      <th class="hiddenColumn">ID</th>
      <th>Title</th>
      <th>Musician(s)</th>
      <th>Band/Ensemble</th>
      <th>Category</th>
      <th>Comments</th>
      <th>Loaned out?</th>
      <th>Previously listened?</th>
      <th>Digital?</th>
      <th>Owned?</th>
    </tr>
  </thead>
  <tbody>
    <% @cds.each do |cd| %>
      <tr>
        <td class="hiddenColumn"> <%= "#{cd.id}" %> </td>
        <td class="title"> <%= "#{cd.title}" %> </td>
        <!-- cd.musicians if/else -->
        <% if !cd.musicians.present? %>
          <td class="musicians"></td>
        <% else %>
          <td class="musicians"> <% cd.musicians.each do |m| %>
            <span><%= "#{m.full_name}" %></span> <br>
          <% end %>
          </td>
        <% end %>  
        <!-- cd.ensembles if/else -->
        <% if !cd.ensembles.present? %>
          <td class="ensembles"></td>
        <% else %>  
          <td class="ensembles"> <% cd.ensembles.each do |e| %>
            <span><%= "#{e.name}" %></span><br>
          <% end %>
          </td>
        <% end %>
        <td class="category"> <%= "#{cd.category}" %> </td>
        <td class="comment"> <%= "#{cd.comment}" %> </td>
        <!-- on_loan if/else -->  
        <td class="loan" data-value="<%= cd.on_loan %>">
          <% if cd.on_loan == true %> 
            <p style="display:none">a</p>
            <img value="true" class="check" src="/assets/green-check.png"/>
          <% else %> 
            <p style="display:none">b</p>
            <img value="false" class="check" src="/assets/red-check.png"/>
          <% end %> 
        </td>
        <!-- listened if/else -->  
        <td class="listened" data-value="<%= cd.listened %>"> 
          <% if cd.listened == true %> 
            <p style="display:none">a</p>
            <img class="check" src="/assets/green-check.png"/>
          <% else %> 
            <p style="display:none">b</p>
            <img class="check" src="/assets/red-check.png"/>
          <% end %> 
        </td>
        <!-- is_digital if/else -->
        <td class="digital" data-value="<%= cd.is_digital %>"> 
          <% if cd.is_digital == true %> 
            <p style="display:none">a</p>
            <img class="check" src="/assets/green-check.png"/>
          <% else %> 
            <p style="display:none">b</p>
            <img class="check" src="/assets/red-check.png"/>
          <% end %> 
        </td>
        <!-- is_owned if/else -->
        <td class="owned" data-value="<%= cd.is_owned %>"> 
          <% if cd.is_owned == true %> 
            <p style="display:none">a</p>
            <img class="check" src="/assets/green-check.png"/>
          <% else %> 
            <p style="display:none">b</p>
            <img class="check gift" src="/assets/gift.png"/>
          <% end %> 
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- TABBED CONTENT -->

<div id="tabsWrapper">
  <ul class="tabs" data-tab>
    <li class="tab-title active"><a href="#panel2-1">Create New Item</a></li>
    <li class="tab-title"><a href="#panel2-2">Edit Item</a></li>
    <li class="tab-title"><a href="#panel2-3">Delete Item</a></li>
  </ul>
  <div class="tabs-content">
    <!-- ***** 1ST TAB: CREATE NEW ITEM ***** -->
    <div class="content active" id="panel2-1">
      <%= form_tag("/cds", method: "post", :id => "create_form") do %>
        
        <%= label_tag('cd[title]', "Title:") %>
        <%= text_field_tag('cd[title]') %> <br>

        <div class="musicianWrapper">
          <%= label_tag('cd[full_name][]', "Musician's name:") %>
          <%= text_field_tag('cd[full_name][]') %> <br>
        </div>

        <div class="buttonWrapper">
          <button type="button" class="addMus">Add another Musician</button>
        </div>

        <div class="ensembleWrapper">
          <%= label_tag('ensembles[]', "Band's name:") %>
          <%= text_field_tag('ensembles[]') %> <br>
        </div>

        <div class="buttonWrapper">
          <button type="button" class="addEns">Add another Band</button>
        </div>

        <%= label_tag('cd[category]', "Musical category:") %>
        <%= text_field_tag('cd[category]') %> <br>

        <%= label_tag('cd[comment]', "Comments:") %>
        <%= text_field_tag('cd[comment]') %> <br>

        <div class="radioWrapper">
          <span>Is this CD currently on loan?</span>
          <%= radio_button_tag('cd[on_loan]', true) %>
          <%= label_tag(:on_loan_true, "Yes") %>
          <%= radio_button_tag('cd[on_loan]', false, true) %>
          <%= label_tag(:on_loan_false, "No") %> <br>
        </div>

        <div class="radioWrapper">
          <span>Have I listened to this CD already?</span>
          <%= radio_button_tag('cd[listened]', true) %>
          <%= label_tag(:listened_true, "Yes") %>
          <%= radio_button_tag('cd[listened]', false, true) %>
          <%= label_tag(:listened_false, "No") %> <br>
        </div>

        <div class="radioWrapper">
          <span>Is this CD a digital copy?</span>
          <%= radio_button_tag('cd[is_digital]', true) %>
          <%= label_tag(:is_digital_true, "Yes") %>
          <%= radio_button_tag('cd[is_digital]', false, true) %>
          <%= label_tag(:is_digital_false, "No") %> <br>
        </div>

        <div class="radioWrapper">
          <span>Do I already own a copy of this CD?</span>
          <%= radio_button_tag('cd[is_owned]', true) %>
          <%= label_tag(:is_owned_true, "Yes") %>
          <%= radio_button_tag('cd[is_owned]', false, true) %>
          <%= label_tag(:is_owned_false, "No") %> <br>
        </div>

        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

        <div class="buttonWrapper">
          <button type="submit">Submit New CD</button>
        </div>
      <% end %>
    </div> <!-- end id="panel2-1" -->

    <!-- ***** 2ND TAB: EDIT ITEM ***** -->
    <div class="content" id="panel2-2">
      <h3>Select the row you would like to edit.</h3>
      <h5>Then click the button:</h5>

      <div class="buttonWrapper">
        <button id="editButton">Edit selected row</button>
      </div>
        
      <%= form_tag("/cds", method: "put", :id => "edit_form") do %>

        <input type="hidden" id="hiddenId" name="id" value="id">

        <%= label_tag('cd[title]', "Title:") %>
        <%= text_field_tag('cd[title]') %> <br>

        <div class="musicianWrapper">
          <%= label_tag('cd[full_name][]', "Musician's name:") %>
          <%= text_field_tag('cd[full_name][]') %> <br>
        </div>

        <div class="buttonWrapper">
          <button type="button" class="addMus">Add another Musician</button>
        </div>

        <div class="ensembleWrapper">
          <%= label_tag('ensembles[]', "Band's name:") %>
          <%= text_field_tag('ensembles[]') %> <br>
        </div>

        <div class="buttonWrapper">
          <button type="button" class="addEns">Add another Band</button>
        </div>

        <%= label_tag('cd[category]', "Musical category:") %>
        <%= text_field_tag('cd[category]') %> <br>

        <%= label_tag('cd[comment]', "Comments:") %>
        <%= text_field_tag('cd[comment]') %> 

        <div class="radioWrapper">
          <span>Is this CD currently on loan?</span>
          <%= radio_button_tag('cd[on_loan]', true) %>
          <%= label_tag(:on_loan_true, "Yes") %>
          <%= radio_button_tag('cd[on_loan]', false, true) %>
          <%= label_tag(:on_loan_false, "No") %> 
        </div>

        <div class="radioWrapper">
        <span>Have I listened to this CD already?</span>
          <%= radio_button_tag('cd[listened]', true) %>
          <%= label_tag(:listened_true, "Yes") %>
          <%= radio_button_tag('cd[listened]', false, true) %>
          <%= label_tag(:listened_false, "No") %> 
        </div>

        <div class="radioWrapper">
          <span>Is this CD a digital copy?</span>
          <%= radio_button_tag('cd[is_digital]', true) %>
          <%= label_tag(:is_digital_true, "Yes") %>
          <%= radio_button_tag('cd[is_digital]', false, true) %>
          <%= label_tag(:is_digital_false, "No") %> 
        </div>

        <div class="radioWrapper">
          <span>Do I already own a copy of this CD?</span>
          <%= radio_button_tag('cd[is_owned]', true) %>
          <%= label_tag(:is_owned_true, "Yes") %>
          <%= radio_button_tag('cd[is_owned]', false, true) %>
          <%= label_tag(:is_owned_false, "No") %> 
        </div>

        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

        <div class="buttonWrapper">
          <button type="submit">Submit Edited CD</button>
        </div>
      <% end %>
    </div> <!-- end id="panel2-2" -->

    <!-- ***** 3RD TAB: DELETE ITEM ***** -->
    <div class="content" id="panel2-3">
      <h3>Select the row you would like to delete.</h3>
      <h5>Careful! There's no undo...</h5>
      <div class="buttonWrapper">
        <button id="deleteButton">Delete selected row</button>
      </div>     
    </div> <!-- end id="panel2-3" -->
  </div> <!-- end class="tabs-content" -->
</div> <!-- end id="tabsWrapper" -->

<!-- JAVASCRIPT -->

<script>
  // ********** initialize DataTable ************ 
  $(document).ready( function () {
    $('#cds-table').DataTable();
  });

  // ********** add-a-musician button *************
  $('.addMus').on('click', function(e) {
    e.preventDefault();
    // var form = $(this).closest('form');
    console.log('this:', this);
    // console.log('Form:', form);
    $(this).before("<label for='cd_full_name'>Musician's name:</label>");
    $(this).before("<input id='cd_full_name' name='cd[full_name][]' type='text'>");
  });

  // ********** add-a-ensemble button *************
  $('.addEns').on('click', function(e) {
    e.preventDefault();
    $(this).before("<label for='ensembles'>Band's name:</label>");
    $(this).before("<input id='ensembles' name='ensembles[]' type='text'>");
  });

  // ********** DataTable select/delete functionality ************

  $(document).ready(function() {
    var table = $('#cds-table').DataTable();
 
    // select row
    $('#cds-table tbody').on( 'click', 'tr', function () {
      console.log("the id of the selected row is ", $(this).children().first().text() );
      if ( $(this).hasClass('selected') ) {
        $(this).removeClass('selected');
      }
      else {
        table.$('tr.selected').removeClass('selected');
        $(this).addClass('selected');
      }
    });
 
    // *********** delete row ***********
    $('#deleteButton').click(function () {
      // delete from db via an ajax request that points to the delete route
      var id = $('.selected').children().first().text().trim();
      console.log("the id is ", id);
      // ajax request that points to the delete route
      $.ajax({
        url: '/cds/' + id,
        type: 'DELETE',
        // send authenticity_token
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        success: function() {
          console.log("ajax call worked");
        },
        error: function() {
          console.log("ajax call failed");
        }
      })
      // delete from table
      table.row('.selected').remove().draw(false);
    });

    // *********** update row ***********
    $('#editButton').click(function () {
      // **** GRAB INFORMATION from selected row
      var id = $('.selected').children().first().text().trim();
      var title = $('.selected .title').text().trim();
      console.log("title:", title);
      // iterate through musicians in the table
      var musicians = [];
      $('.selected .musicians span').each(function(index, element) {
        var name = $(element).text();
        console.log("element is ", name);
        musicians.push(name);
      });
      console.log("musicians are ", musicians);
      // iterate through ensembles in the table
      var ensembles = [];
      $('.selected .ensembles span').each(function(index, element) {
        var name = $(element).text();
        console.log("element is ", name);
        ensembles.push(name);
      });
      console.log("ensembles are ", ensembles);
      // rest of table      
      var category = $('.selected .category').text().trim();
      var comment = $('.selected .comment').text().trim();
      var loan = $('.selected .loan').data('value');
      var listened = $('.selected .listened').data('value');
      var digital = $('.selected .digital').data('value');
      var owned = $('.selected .owned').data('value');

      // **** UPDATE ROUTE to point to selected cd's id
      $("#edit_form").attr("action", "/cds/" + id)
      
      // **** POPULATE FORM with the selected row's info
      $('#edit_form #hiddenId').val(id);
      $('#edit_form #cd_title').val(title);

      // populate musicians: 1st clear out the wrapper with .empty
      $('#edit_form .musicianWrapper').empty();
      for (var i = 0; i < musicians.length; i++) {
        // then create a label and input for each element in musicians
        console.log("musicians[i]", musicians[i]);
        $('#edit_form .musicianWrapper').append("<label for='cd_full_name'>Musician's Name:</label>");
        $('#edit_form .musicianWrapper').append("<input id='cd_full_name' name='cd[full_name][]' type='text' value='" + musicians[i] + "'>");
      }

      // populate ensembles: 1st clear out the wrapper with .empty
      $('#edit_form .ensembleWrapper').empty();
      for (var i = 0; i < ensembles.length; i++) {
        // then create a label and input for each element in ensembles
        console.log("ensembles[i]", ensembles[i]);
        $('#edit_form .ensembleWrapper').append("<label for='cd_full_name'>Band's Name:</label>");
        $('#edit_form .ensembleWrapper').append("<input id='cd_full_name' name='cd[full_name][]' type='text' value='" + ensembles[i] + "'>");
      }

      // continue to populate rest of form 
      $('#edit_form #cd_name').val(ensembles);
      $('#edit_form #cd_category').val(category);
      $('#edit_form #cd_comment').val(comment);
      // if/else for on_loan radio button
      if (loan === true) {
        $('#edit_form #cd_on_loan_true').prop('checked', true);
      }
      else {
        $('#edit_form #cd_on_loan_false').prop('checked', true);
      }
      // if/else for listened radio button
      if (listened === true) {
        $('#edit_form #cd_listened_true').prop('checked', true);
      }
      else {
        $('#edit_form #cd_listened_false').prop('checked', true);
      }
      // if/else for digital radio button
      if (digital === true) {
        $('#edit_form #cd_is_digital_true').prop('checked', true);
      }
      else {
        $('#edit_form #cd_is_digital_false').prop('checked', true);
      }
      // if/else for owned radio button
      if (owned === true) {
        $('#edit_form #cd_is_owned_true').prop('checked', true);
      }
      else {
        $('#edit_form #cd_is_owned_false').prop('checked', true);
      }

    }); // end editButton.click
  }); // end document.ready
</script>










