<h1>Cds#index</h1>
<p>Find me in app/views/cds/index.html.erb</p>


<p> hmmmm how do i access musician and ensemble? </p>

<% @cds.each do |x| %> 
  <p> <%= x.title %> </p>
  <p> <%= x.comment %> </p>
  <p> <%= x.category %> </p>
  <p> Is this loaned out? <%= x.on_loan %> </p>
  <p> Have I listened to this? <%= x.listened %> </p>
  <p> Is this digital? <%= x.is_digital %> </p>
  <p> Do I own this? <%= x.is_owned %> </p>
<% end %>

