<!-- ********** DATATABLE ********** -->

<table id="books-table" class="display">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author(s)</th>
      <th>Category</th>
      <th>Comments</th>
      <th>Loaned out?</th>
      <th>Already read?</th>
      <th>Digital?</th>
      <th>Owned?</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>    
        <td> <%= "#{book.title}" %> </td>
        <td> <% book.authors.each do |a| %> 
          <%= "#{a.first_name} #{a.last_name}" %> <br>
        <% end %>
        </td>
        <td> <%= "#{book.category}" %> </td>
        <td> <%= "#{book.comment}" %> </td>
        <!-- on_loan if/else -->
        <td> <% if book.on_loan == true %> <img class="check" src="/assets/green-check.png"/>
          <% else %> <img class="check" src="/assets/red-check.png"/>
          <% end %> 
        </td>
        <!-- read if/else -->  
        <td> <% if book.read == true %> <img class="check" src="/assets/green-check.png"/>
          <% else %> <img class="check" src="/assets/red-check.png"/>
          <% end %> 
        </td>
        <!-- is_digital if/else -->
        <td> <% if book.is_digital == true %> <img class="check" src="/assets/green-check.png"/>
          <% else %> <img class="check" src="/assets/red-check.png"/>
          <% end %> 
        </td>
        <!-- is_owned if/else -->
        <td> <% if book.is_owned == true %> <img class="check" src="/assets/green-check.png"/>
          <% else %> <img class="check gift" src="/assets/gift.png"/>
          <% end %> 
        </td>
      </tr>
    <% end %> 
  </tbody>
</table>

<!-- ********** RAILS FORM ********** -->

<%= form_tag("/books", method: "post") do %>
  <%= label_tag('book[title]', "Title:") %>
  <%= text_field_tag('book[title]') %> <br>

  <%= label_tag('book[first_name]', "Author's first name:") %>
  <%= text_field_tag('book[first_name]') %> <br>

  <%= label_tag('book[last_name]', "Author's last name:") %>
  <%= text_field_tag('book[last_name]') %> <br>

  <%= label_tag('book[category]', "Category:") %>
  <%= text_field_tag('book[category]') %> <br>

  <%= label_tag('book[comment]', "Comment:") %>
  <%= text_field_tag('book[comment]') %> <br>

  Is this book currently on loan?
  <%= radio_button_tag('book[on_loan]', true) %>
  <%= label_tag(:on_loan_true, "Yes") %>
  <%= radio_button_tag('book[on_loan]', false, true) %>
  <%= label_tag(:on_loan_false, "No") %> <br>

  Have I read this book already?
  <%= radio_button_tag('book[read]', true) %>
  <%= label_tag(:read_true, "Yes") %>
  <%= radio_button_tag('book[read]', false, true) %>
  <%= label_tag(:read_false, "No") %> <br>

  Is this book a digital copy?
  <%= radio_button_tag('book[is_digital]', true) %>
  <%= label_tag(:is_digital_true, "Yes") %>
  <%= radio_button_tag('book[is_digital]', false, true) %>
  <%= label_tag(:is_digital_false, "No") %> <br>

  Do I already own a copy of this book?
  <%= radio_button_tag('book[is_owned]', true) %>
  <%= label_tag(:is_owned_true, "Yes") %>
  <%= radio_button_tag('book[is_owned]', false, true) %>
  <%= label_tag(:is_owned_false, "No") %> <br>

  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

  <%= submit_tag("Submit") %>
<% end %>

<!-- ********** initialize DataTable ************ -->

<script>
  $(document).ready( function () {
    $('#books-table').DataTable();
  });
</script>






