<!-- ********** DATATABLE ********** -->

<table id="dvds-table" class="display">
  <thead>
    <tr>
      <th>Title</th>
      <th>Actor(s)</th>
      <th>Category</th>
      <th>Comments</th>
      <th>Loaned out?</th>
      <th>Already viewed?</th>
      <th>Digital?</th>
      <th>Owned?</th>
    </tr>
  </thead>
  <tbody>
    <% @dvds.each do |dvd| %>
      <tr>
        <td> <%= "#{dvd.title}" %> </td>
        <td> <% dvd.actors.each do |a| %>
          <%= "#{a.first_name} #{a.last_name}" %> <br>
        <% end %>
        </td>
        <td> <%= "#{dvd.category}" %> </td>
        <td> <%= "#{dvd.comment}" %> </td>
        <!-- on_loan if/else -->  
        <td> <% if dvd.on_loan == true %> <img class="check" src="/assets/green-check.png"/>
          <% else %> <img class="check" src="/assets/red-check.png"/>
          <% end %> 
        </td>
        <!-- viewed if/else -->  
        <td> <% if dvd.viewed == true %> <img class="check" src="/assets/green-check.png"/>
          <% else %> <img class="check" src="/assets/red-check.png"/>
          <% end %> 
        </td>
        <!-- is_digital if/else -->
        <td> <% if dvd.is_digital == true %> <img class="check" src="/assets/green-check.png"/>
          <% else %> <img class="check" src="/assets/red-check.png"/>
          <% end %> 
        </td>
        <!-- is_owned if/else -->
        <td> <% if dvd.is_owned == true %> <img class="check" src="/assets/green-check.png"/>
          <% else %> <img class="check gift" src="/assets/gift.png"/>
          <% end %> 
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- ********** RAILS FORM ********** -->

<%= form_tag("/dvds", method: "post") do %>
  
  <%= label_tag('dvd[title]', "Title:") %>
  <%= text_field_tag('dvd[title]') %> <br>

  <%= label_tag('dvd[first_name]', "Actor's first name:") %>
  <%= text_field_tag('dvd[first_name]') %> <br>

  <%= label_tag('dvd[last_name]', "Actor's last name:") %>
  <%= text_field_tag('dvd[last_name]') %> <br>

  <%= label_tag('dvd[category]', "Category:") %>
  <%= text_field_tag('dvd[category]') %> <br>

  <%= label_tag('dvd[comment]', "Comment:") %>
  <%= text_field_tag('dvd[comment]') %> <br>

  Is this DVD currently on loan?
  <%= radio_button_tag('dvd[on_loan]', true) %>
  <%= label_tag(:on_loan_true, "Yes") %>
  <%= radio_button_tag('dvd[on_loan]', false, true) %>
  <%= label_tag(:on_loan_false, "No") %> <br>

  Have I watched this DVD already?
  <%= radio_button_tag('dvd[viewed]', true) %>
  <%= label_tag(:viewed_true, "Yes") %>
  <%= radio_button_tag('dvd[viewed]', false, true) %>
  <%= label_tag(:viewed_false, "No") %> <br>

  Is this DVD a digital copy?
  <%= radio_button_tag('dvd[is_digital]', true) %>
  <%= label_tag(:is_digital_true, "Yes") %>
  <%= radio_button_tag('dvd[is_digital]', false, true) %>
  <%= label_tag(:is_digital_false, "No") %> <br>

  Do I already own a copy of this DVD?
  <%= radio_button_tag('dvd[is_owned]', true) %>
  <%= label_tag(:is_owned_true, "Yes") %>
  <%= radio_button_tag('dvd[is_owned]', false, true) %>
  <%= label_tag(:is_owned_false, "No") %> <br>

  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

  <%= submit_tag("Submit") %>
<% end %>

<!-- ********** initialize DataTable ************ -->

<script>
  $(document).ready( function () {
    $('#dvds-table').DataTable();
  });
</script>

