<!-- ********** DATATABLE ********** -->

<table id="dvds-table" class="display">
  <thead>
    <tr>
      <th class="hiddenColumn">ID</th>
      <th>Title</th>
      <th>Actor(s)</th>
      <th>Category</th>
      <th>Comments</th>
      <th>Loaned out?</th>
      <!-- <th>Already viewed?</th> -->
      <th>Digital?</th>
      <th>Owned?</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @dvds.each do |dvd| %>
      <tr>
        <td class="hiddenColumn"> <%= "#{dvd.id}" %> </td>
        <td class="title"> <%= "#{dvd.title}" %> </td>
        <td class="actors"> <% dvd.actors.each do |a| %>
          <span><%= "#{a.full_name}" %></span> <br>
        <% end %>
        </td>
        <td class="category"> <%= "#{dvd.category}" %> </td>
        <td class="comment"> <%= "#{dvd.comment}" %> </td>
        <!-- on_loan if/else -->  
        <td class="loan" data-value="<%= dvd.on_loan %>"> 
          <% if dvd.on_loan == true %> 
            <p style="display:none">a</p>
            <img class="check" src="/assets/green-check.png"/>
          <% else %> 
            <p style="display:none">b</p>
            <img class="check" src="/assets/red-check.png"/>
          <% end %> 
        </td>
        <!-- viewed if/else -->  
<!--         <td class="viewed" data-value="<%= dvd.viewed %>"> 
          <% if dvd.viewed == true %> 
            <p style="display:none">a</p>
            <img class="check" src="/assets/green-check.png"/>
          <% else %> 
            <p style="display:none">b</p>
            <img class="check" src="/assets/red-check.png"/>
          <% end %> 
        </td> -->
        <!-- is_digital if/else -->
        <td class="digital" data-value="<%= dvd.is_digital %>"> 
          <% if dvd.is_digital == true %> 
            <p style="display:none">a</p>
            <img class="check" src="/assets/green-check.png"/>
          <% else %> 
            <p style="display:none">b</p>
            <img class="check" src="/assets/red-check.png"/>
          <% end %> 
        </td>
        <!-- is_owned if/else -->
        <td class="owned" data-value="<%= dvd.is_owned %>"> 
          <% if dvd.is_owned == true %> 
            <p style="display:none">a</p>
            <img class="check" src="/assets/green-check.png"/>
          <% else %> 
            <p style="display:none">b</p>
            <img class="check gift" src="/assets/gift.png"/>
          <% end %> 
        </td>
        <!-- edit button -->
        <td class="editColumn">
          <button class="editButton">Edit</button>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- TABBED CONTENT -->

<div id="tabsWrapper">
  <ul class="tabs" data-tab>
    <li class="tab-title active"><a href="#panel2-1">Create New Item</a></li>
    <li class="tab-title"><a href="#panel2-2">Edit Item</a></li>
    <li class="tab-title"><a href="#panel2-3">Delete Item</a></li>
  </ul>
  <div class="tabs-content">
    <!-- ***** 1ST TAB: CREATE NEW ITEM ***** -->
    <div class="content active" id="panel2-1">
     <%= form_tag("/dvds", method: "post", :id => "create_form") do %>

     <p>The fields marked with an * are required.</p>
       
      <%= label_tag('dvd[title]', "* Title:") %>
      <%= text_field_tag('dvd[title]', @new_dvd.title) %> <br>

      <div class="actorWrapper">
        <% @new_dvd.actors.each do |actor| %> 
          <%= label_tag('actors[]', "* Actor's name:") %>
          <%= text_field_tag('actors[]', actor.full_name) %> <br>
        <% end %>
      </div>

      <div class="buttonWrapper">
        <button type="button" class="addActor">Add an Actor</button>
      </div>

      <%= label_tag('dvd[category]', "* Category:") %>
      <%= text_field_tag('dvd[category]', @new_dvd.category) %> <br>

      <%= label_tag('dvd[comment]', "* Comment:") %>
      <%= text_field_tag('dvd[comment]', @new_dvd.comment) %> <br>

      <div class="radioWrapper">
        <span>* Is this DVD currently on loan?</span>
        <%= radio_button_tag('dvd[on_loan]', true, @new_dvd.on_loan == true) %>
        <%= label_tag(:on_loan_true, "Yes") %>
        <%= radio_button_tag('dvd[on_loan]', false, @new_dvd.on_loan == false) %>
        <%= label_tag(:on_loan_false, "No") %> <br>
      </div>

      <div class="radioWrapper">
        <span>* Have I watched this DVD already?</span>
        <%= radio_button_tag('dvd[viewed]', true, @new_dvd.viewed == true) %>
        <%= label_tag(:viewed_true, "Yes") %>
        <%= radio_button_tag('dvd[viewed]', false, @new_dvd.viewed == false) %>
        <%= label_tag(:viewed_false, "No") %> <br>
      </div>

      <div class="radioWrapper">
        <span>* Is this DVD a digital copy?</span>
        <%= radio_button_tag('dvd[is_digital]', true, @new_dvd.is_digital == true) %>
        <%= label_tag(:is_digital_true, "Yes") %>
        <%= radio_button_tag('dvd[is_digital]', false, @new_dvd.is_digital == false) %>
        <%= label_tag(:is_digital_false, "No") %> <br>
      </div>

      <div class="radioWrapper">
        <span>* Do I already own a copy of this DVD?</span>
        <%= radio_button_tag('dvd[is_owned]', true, @new_dvd.is_owned == true) %>
        <%= label_tag(:is_owned_true, "Yes") %>
        <%= radio_button_tag('dvd[is_owned]', false, @new_dvd.is_owned == false) %>
        <%= label_tag(:is_owned_false, "No") %> <br>
      </div>

      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

      <!-- error msg -->
      <% if @new_dvd.errors.any? %>
        <div class="errorMsg">Please check the required fields.</div>
      <% end %>

      <div class="buttonWrapper submit">
        <button type="submit">Submit New DVD</button>
      </div>

     <% end %>
    </div> <!-- end id="panel2-1" -->

    <!-- ***** 2ND TAB: EDIT ITEM ***** -->
    <div class="content" id="panel2-2">

      <p>The fields marked with an * are required.</p>

      <%= form_tag("/dvds", method: "put", :id => "edit_form") do %>

        <input type="hidden" id="hiddenId" name="id" value="id">
        
        <%= label_tag('dvd[title]', "* Title:") %>
        <%= text_field_tag('dvd[title]') %> <br>

        <div class="actorWrapper">
          <%= label_tag('actors[]', "* Actor's name:") %>
          <%= text_field_tag('actors[]') %> <br>
        </div>

        <div class="buttonWrapper">
          <button type="button" class="addActor">Add an Actor</button>
        </div>

        <%= label_tag('dvd[category]', "* Category:") %>
        <%= text_field_tag('dvd[category]') %> <br>

        <%= label_tag('dvd[comment]', "* Comment:") %>
        <%= text_field_tag('dvd[comment]') %> <br>

        <div class="radioWrapper">
          <span>* Is this DVD currently on loan?</span>
          <%= radio_button_tag('dvd[on_loan]', true) %>
          <%= label_tag(:on_loan_true, "Yes") %>
          <%= radio_button_tag('dvd[on_loan]', false, true) %>
          <%= label_tag(:on_loan_false, "No") %> <br>
        </div>

        <div class="radioWrapper">
          <span>* Have I watched this DVD already?</span>
          <%= radio_button_tag('dvd[viewed]', true) %>
          <%= label_tag(:viewed_true, "Yes") %>
          <%= radio_button_tag('dvd[viewed]', false, true) %>
          <%= label_tag(:viewed_false, "No") %> <br>
        </div>

        <div class="radioWrapper">
          <span>* Is this DVD a digital copy?</span>
          <%= radio_button_tag('dvd[is_digital]', true) %>
          <%= label_tag(:is_digital_true, "Yes") %>
          <%= radio_button_tag('dvd[is_digital]', false, true) %>
          <%= label_tag(:is_digital_false, "No") %> <br>
        </div>

        <div class="radioWrapper">
          <span>* Do I already own a copy of this DVD?</span>
          <%= radio_button_tag('dvd[is_owned]', true) %>
          <%= label_tag(:is_owned_true, "Yes") %>
          <%= radio_button_tag('dvd[is_owned]', false, true) %>
          <%= label_tag(:is_owned_false, "No") %> <br>
        </div>

        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

        <div class="buttonWrapper submit">
          <button type="submit">Submit Edited DVD</button>
        </div>
      <% end %>
    </div> <!-- end id="panel2-2" -->

    <!-- ***** 3RD TAB: DELETE ITEM ***** -->
    <div class="content" id="panel2-3">
      <h3>Select the row you would like to delete.</h3>
      <h5>Careful! There's no undo...</h5>
      <div class="buttonWrapper submit">
        <button id="deleteButton">Delete selected row</button>
      </div>
    </div> <!-- end id="panel2-3" -->
  </div> <!-- end class="tabs-content" -->
</div> <!-- end id="tabsWrapper" -->

<!-- JAVASCRIPT -->

<script>
  // ********** initialize DataTable ************ 
  $(document).ready( function () {
    $('#dvds-table').DataTable();
  });

  // ********** add-an-actor button *************
  $('.addActor').on('click', function(e) {
    e.preventDefault();
    $(this).before("<label for='actors'>Actor's Name:</label>");
    $(this).before("<input id='actors' name='actors[]' type='text'>");
  });

  // ********** DataTable select/delete functionality ************

  $(document).ready(function() {
    var table = $('#dvds-table').DataTable();
 
    // select row
    $('#dvds-table tbody').on( 'click', 'tr', function () {
      console.log("the id of the selected row is ", $(this).children().first().text() );
      if ( $(this).hasClass('selected') ) {
        $(this).removeClass('selected');
      }
      else {
        table.$('tr.selected').removeClass('selected');
        $(this).addClass('selected');
      }
    });
 
    // *********** delete row ***********
    $('#deleteButton').click(function () {
      // delete from db via an ajax request that points to the delete route
      var id = $('.selected').children().first().text().trim();
      console.log("the id is ", id);
      // ajax request that points to the delete route
      $.ajax({
        url: '/dvds/' + id,
        type: 'DELETE',
        // send authenticity_token
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        success: function() {
          console.log("ajax call worked");
        },
        error: function() {
          console.log("ajax call failed");
        }
      })
      // delete from table
      table.row('.selected').remove().draw(false);
    });

    // *********** update row ***********
    $('#dvds-table').on('click', '.editButton', function () {
      // open the tabbed 'edit' panel 
      $('.tab-title:nth-child(2) a').click();

      // grab info from selected row
      var id = $(this).closest('tr').children().first().text().trim();
      console.log("id: ", id);
      // we can use the new var 'row' to make accessing the rest of the info easier
      var row = $(this).closest('tr');
      var title = row.find('.title').text().trim();
      console.log("title:", title);
      // iterate through actors in the table
      var actors = [];
      row.find('.actors span').each(function(index, element) {
        var name = $(element).text();
        console.log("element is ", name);
        actors.push(name);
      });
      console.log("actors are ", actors);
      // continue to grab info
      var category = row.find('.category').text().trim();
      console.log("category: ", category);
      var comment = row.find('.comment').text().trim();
      console.log("comment:", comment);
      var loan = row.find('.loan').data('value');
      console.log("loan is ", loan);
      var viewed = row.find('.viewed').data('value');
      console.log("viewed: ", viewed);
      var digital = row.find('.digital').data('value');
      console.log("digital", digital);
      var owned = row.find('.owned').data('value');
      console.log("owned: ", owned);

      // update route to point to selected dvd's id
      $("#edit_form").attr("action", "/dvds/" + id)
      
      // populate form with the selected row's info
      $('#edit_form #hiddenId').val(id);
      $('#edit_form #dvd_title').val(title);
      // $('#edit_form #dvd_full_name').val(actor);

      // populate actors: 1st clear out the wrapper with .empty
      $('#edit_form .actorWrapper').empty();
      for (var i = 0; i < actors.length; i++) {
        // then create a label and input for each element in actors
        console.log("actors[i]", actors[i]);
        $('#edit_form .actorWrapper').append("<label for='actors'>Actor's Name:</label>");
        $('#edit_form .actorWrapper').append("<input id='actors' name='actors[]' type='text' value='" + actors[i] + "'>");
      }
      $('#edit_form #dvd_category').val(category);
      $('#edit_form #dvd_comment').val(comment);
      // if/else for on_loan radio button
      if (loan === true) {
        $('#edit_form #dvd_on_loan_true').prop('checked', true);
      }
      else {
        $('#edit_form #dvd_on_loan_false').prop('checked', true);
      }
      // if/else for viewed radio button
      if (viewed === true) {
        $('#edit_form #dvd_viewed_true').prop('checked', true);
      }
      else {
        $('#edit_form #dvd_viewed_false').prop('checked', true);
      }
      // if/else for digital radio button
      if (digital === true) {
        $('#edit_form #dvd_is_digital_true').prop('checked', true);
      }
      else {
        $('#edit_form #dvd_is_digital_false').prop('checked', true);
      }
      // if/else for owned radio button
      if (owned === true) {
        $('#edit_form #dvd_is_owned_true').prop('checked', true);
      }
      else {
        $('#edit_form #dvd_is_owned_false').prop('checked', true);
      }

    }); // end editButton.click
  }); // end document.ready
</script>

